<h4>
  About me
</h4>
<div class="page" title="Page 1">
  <div class="section">
    <div class="layoutArea">
      <div class="column">
        <p>Current position:</p>
        <p>Front-End Developer at MLSDev</p>
        <p>Target Position:</p>
        <p>Front-End Developer</p>
        <p>Development Experience:</p>
      </div>
      <div class="column">
        <p>Date and place of birth: January 14, 1993, Vinnytsia Address:Vinnytsia Tel/Viber:(096)5966071 E-mail: vasiliyredka@gmail.com Skype:cluber_prof</p>
      </div>
    </div>
    <div class="layoutArea">
      <div class="column">
        <p>HTML/HTML5, Jade(Pug), CSS/CSS3, Stylus, JavaScript, CoffeScript, Bootstrap, JQuery, Underscore, Angularjs 1.x, Angular.io, TypeScript, Google API, Facebook API, GIT, Gulp, Grunt, bower, webpack, npm, Node.JS, RESTful, HTML email templates, angular-cli, Google Analytics API.</p>
        <p>Education and Certifications:</p>
        <p>2010 &ndash; 2014 - Bachelor of Computer Science at Vinnytsia National Technical University (Ukraine), faculty of Computer Engineering.<br /> 2010-2011 &ndash; graduated from the "School of Young Professional Activist" at the Trade Union Federation of Vinnytsia region.</p>
        <p>2012-2013 &ndash; completed the course "Web Design and Web Programming" at Vinnytsia National Technical University.</p>
        <p>Career History:</p>
        <p>October, 2014 &ndash; Present &ndash; Front-End Developer at MLSDev<br /> September, 2015 &ndash; October, 2015 &ndash; Front-End Mentor at GoIT<br /> August, 2014 &ndash; October, 2014 - Web Developer at Marketing Champ<br /> March, 2013 &ndash; May, 2014 - Front-End Developer at Gemicle Inc.<br /> June, 2011 &ndash; October, 2012 - FDI "MacDonald&rsquo;s-Yunist Ukraine Ltd",position - crew member of the restaurant.</p>
        <p>Languages:</p>
        <p>Ukrainian: native/bilingual proficiency Russian: native/bilingual proficiency English: pre-intermediate</p>
        <p>Articles:</p>
        <p><a href="https://mlsdev.com/blog/104-getting-started-with-web-notifications-api">Getting Started with Web Notifications API</a><br /><a href="https://mlsdev.com/blog/81-a-beginner-s-tutorial-for-understanding-restful-api">A Beginner&rsquo;s Tutorial for Understanding RESTful API</a></p>
      </div>
    </div>
  </div>
</div>
